.header-underline:active {
  border: none;
  border-bottom: 3px solid rgb(0, 122, 18);
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vapournepal {
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to top, #0c1f09, #009311);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
