.product-title{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(82, 82, 82);
    display: block;
}
.product-card{
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.2);
    transition: all 0.3s ease;
}
.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.6);
}

.product-price{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(82, 82, 82);
}