.title{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(64, 64, 64);
    display: block;
    font-family:'Segoe UI', Geneva, Verdana, sans-serif;
}
.product-card{
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.2);
    transition: all 0.3s ease;
}
.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.6);
}

.price{
    color: rgb(62, 0, 0);
    font-size:larger;
    font-family:Cambria;
}

.discount{
  color: rgb(0, 151, 20);
}

.category{
  font-size: small;
  font-weight: 700;
  color: rgb(122, 122, 122);
}

.image{
  object-fit: contain;
}

.product-card .image {
  aspect-ratio: 5 / 4;  /* You can adjust this ratio as needed */
}

/*its for view icon*/
.view{
    font-size: 20px;
}

  .modalText{
    font-size: 1.1rem;
  }

  .product-description{
    font-style: italic;
    font-weight: 500;
  }
