.product-title{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(82, 82, 82);
    display: block;
}
.product-card{
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.2);
    transition: all 0.3s ease;
}
.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.6);
}

.product-price{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(82, 82, 82);
    font-size: x-large
}

.view{
    font-size: 20px;
}

.quickPay {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .quickPay::before {
    position: absolute;
    content: "₹ Quick Pay";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }

  .addToCart {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#0a770c,#90ff77,#0a770c,#0a770c,#90ff77,#0a770c);
    background-size: 250%;
    background-position: left;
    color: #90ff77;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }

  .addToCart::before {
    position: absolute;
    content: "Add To Cart";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgb(16, 16, 16);
    background-size: 200%;
  }
  
  .addToCart:active, .quickPay:active {
    transform: scale(0.95);
  }

  .modalText{
    font-size: 1.1rem;
  }

  .product-description{
    font-style: italic;
    font-weight: 500;
  }